body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(204, 174, 246);
  }

  #gridContainer {
    display: grid;
    gap: 0;
    max-width: 300px; /* Set your desired width */
    max-height: 300px; /* Set your desired height */
    overflow: hidden; /* Hide overflowing content */
  }

  .cell {
    
    background-color: lightgray;
    border: 0.5px solid;
  }


  #header {
    position: absolute; top: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 100%;
    text-align: center;
    padding: 20px;;
    background-color:  rgb(178, 124, 253);
    margin-top: 0%;
    
  }

  #gridBtn {
    position: absolute; top: 100px;
    padding: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border-style: solid;
  }